* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.margin-75 {
  margin: 125px 0;
}

.footer a {
  text-decoration: navajowhite;
  font-size: 20px;
  margin-left: 10px;
  color: #000;
}

.country-card {
  margin-bottom: 25px;
}

.country-card img {
  height: 170px;
  width: 100%;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.country-card small {
  display: block;
  font-size: 16px;
}