* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.margin-75 {
  margin: 75px 0;
}

.footer a {
  text-decoration: navajowhite;
  font-size: 20px;
  margin-left: 10px;
  color: #000;
}